
/* Your CSS Code here. */
table, th, td {
    border:1px solid black;
    border-collapse: collapse;
  }
  .top {
  text-align:left;
  font-family:sans serif;
  }
  .right {
  text-align:right;
  }
  